#about-me {
  display: flex;
  align-items: center;
  justify-content: space-between;  // Add this to create space between video and content
  background-image: url('/src/assets/blob-whitebkground.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px;
  height: 100%;
}

.content {
  width: 50%;
  z-index: 1;  // Add this to position the content above the video
}


.my-paragraph {
  color: rgb(11, 10, 10);
  font-size: 20px;
}
.my-name{
  font-size: 30px;
  font-weight: bold;
}

video {
  max-width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 800px;
}

.typewriter{
  font-size: 10px;
  display: flex;

}

// /* DEMO-SPECIFIC STYLES */
// .typewriter h1 {
//   color: rgb(19, 12, 12);
//   font-family: monospace;
//   overflow: hidden;
//   white-space: nowrap;
//   margin: 0 auto;
//   letter-spacing: .15em;
//   animation: typing 5s steps(30, end), blink-caret 1s step-end infinite;
// }

// /* The typing effect */
// @keyframes typing {
//   from { width: 0 }
//   to { width: 100% }
// }

// /* The typewriter cursor effect */
// @keyframes blink-caret {
//   from, to { border-color: transparent }
//   50% { border-color: orange }
// }