#about-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('/src/assets/blob-whitebkground.jpeg');  // Set the path to your background image
  background-size: cover;  // Adjust as needed
  background-position: center;  // Adjust as needed
  background-repeat: no-repeat;
  padding: 200px;  // Add padding for spacing
  height: 50vh;  // Set a specific height, adjust as needed

  .content {
    width: 45%;  // Adjust the width as needed
  }

  .my-name,
  .my-paragraph {
    color: rgb(11, 10, 10);  // Set the text color
  }

  video {
    max-width: 50%;  // Adjust the width as needed
    height: auto;
    object-fit: cover;
    border-radius: 200px;
   
   
  }
}
